.app {
  display: flex;
  height: 100vh;

  &__image {
    width: 50%;
    height: 100%;
    display: none;
    background: blue;

    @media (min-width: 48rem) {
      display: block;
    }
  }

  &__main {
    width: 100%;
    height: 100%;

    @media (min-width: 48rem) {
      width: 50%;
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__login {
    width: 100%;
  }

  &__header {
    font-size: 1.875rem;
    color: var(--color-900);
  }

  &__form {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
  }

  &__google {
    width: 100%;
    margin-top: 1rem;
  }

  &__bottom {
    position: absolute;
    inset: auto 0 3.125rem;
    text-align: center;

    span {
      color: var(--blue-color);
    }
  }
}
